@page
@using System.Xml.Linq
@using FotoShop.Classes
@model FotoShop.Pages.ModernUrban

@{
    Layout = "_Layout";
    ViewData["Title"] = "Shop";
}

@section Styles {
    <link href="/css/Shop.css" rel="stylesheet"/>
}

<div class="container-fluid">
    <div class="row shop_row">
        <div class="shop_column">
            @for (int i = 0; i < @Model.AllPhotos.Count; i++)
            {
                if (i == 0 || i % 4 == 0)
                {
                    <a asp-route-id="@Model.AllPhotos[i].Photo_id" asp-page="PhotoPage">
                        <img class="img" src="~/Images/ProductImages/@Model.AllPhotos[i].Photo_path"/>
                    </a>
                }
            }
        </div>
        <div class="shop_column">
            @for (int i = 0; i < @Model.AllPhotos.Count; i++)
            {
                if (i == 1 || i % 4 == 1)
                {
                    <a asp-route-id="@Model.AllPhotos[i].Photo_id" asp-page="PhotoPage">
                        <img class="img" src="~/Images/ProductImages/@Model.AllPhotos[i].Photo_path"/>
                    </a>
                }
            }
        </div>
        <div class="shop_column">
            @for (int i = 0; i < @Model.AllPhotos.Count; i++)
            {
                if (i == 2 || i % 4 == 2)
                {
                    <a asp-route-id="@Model.AllPhotos[i].Photo_id" asp-page="PhotoPage">
                        <img class="img" src="~/Images/ProductImages/@Model.AllPhotos[i].Photo_path"/>
                    </a>
                }
            }
        </div>
        <div class="shop_column">
            @for (int i = 0; i < @Model.AllPhotos.Count; i++)
            {
                if (i == 3 || i % 4 == 3)
                {
                    <a asp-route-id="@Model.AllPhotos[i].Photo_id" asp-page="PhotoPage">
                        <img class="img" src="~/Images/ProductImages/@Model.AllPhotos[i].Photo_path"/>
                    </a>
                }
            }
        </div>
    </div>
</div>    
 